@font-face {
  font-family: "Yoster Island";
  src: url("../fonts/yoster-island.regular.ttf") format("truetype");
}
body {
  background: gray;
  font-family: "Yoster Island";
}
.text {
  z-index: 1;
  font-size: 50px;
  color: red;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  white-space: nowrap;
}
.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  line-height: 50px;
}
.main {
  float: left;
  width: 320px;
  height: 320px;
  border: 2px solid black;
  background: black;
  position: absolute;
	left: 50%;
	top: 50%;
	margin: -160px 0 0 -160px;
}
.box {
  background: white;
  background-size: 100%, 100%;
  width: 95px;
  height: 95px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.popup {
  width: 350px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 2;
  text-align: center;
  padding: 50px;
  border: 10px solid black;
  font-family: "Yoster Island";
}
.btn {
  font-family: "Yoster Island";
  font-size: 50px;
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 50%;
  outline: none;
  border: 10px solid red;
  cursor: pointer;
  box-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transform: scale(0.9);
  border: 5px solid red;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
